* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	color: #757575;
	font-family: Verdana, sans-serif;
	font-size: 20px;
	font-weight: 400;
	user-select: none;
}

hr {
	background: #000;
	height: 2px;
	border: none;
}

button:disabled {
	opacity: 60%;
	cursor: not-allowed;
}

.container {
	width: 508px;
	margin: 0 auto;
}

.action-btn {
	border-radius: 4px;
	background: #16DB99;
	color: #FFF;
	font-family: Verdana, sans-serif;
	font-size: 20px;
	font-weight: 700;
	padding: 1em 3em;
	border: 0;
	width: 100%;
	cursor: pointer;
	margin: 1.5em auto 0;
}

/** TYPOGRAPHY **/
.title {
	font-family: 'Smythe', system-ui;
	font-size: 39px;
	font-weight: 400;
	margin: 0;
}

.subtitle {
	font-family: 'Smythe', system-ui;
	font-size: 22px;
	font-weight: 400;
	margin: 2px 0 0;
}

/** LAYOUT **/

.main-header {
	background-color: #2B1F1F;
	color: #FFF;
	background: url("images/bg.jpg");
	background-position: center right;
	max-width: 600px;
	margin: 0 auto;
	padding: 50px;
}

/*--- MENU---*/
.menu-items {
	list-style: none;
	padding: 20px 0 0;
	margin: 0;
}

.menu-item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	border-bottom: 1px solid #D2D2D2;
	margin: 45px 0;
}

/* .menu-item-img {
	width: 70px;
}
*/

.menu-item-emoji {
	font-size: 65px;
}

.menu-item-info {
	font-family: 'Smythe', system-ui;
	margin: 0 20px 45px;
}

.menu-item-name {
	margin: 0 0 5px;
	font-size: 28px;
	color: #000;
}

.menu-item-ingredients {
	margin: 0;
	font-size: 16px;
	color: #8B8B8B;
	margin: 0 0 5px;
}

.menu-item-price {
	margin: 0;
	font-size: 20px;
	color: #000;
}

/* BUTTON MUST BE HACKED-WE EITHER NEED AN ICON, OR CSS AS BELOW
  THE SPACING WITH USING A TEXT '+' SIGN WILL NOT ALIGN IN THE MIDDLE OF THE BUTTON
*/
.add-btn {
	margin: 0 0 0 auto;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1.5px solid #DEDEDE;
	background: #FFF;
	color: #3C3C3C;
	font-size: 32px;
	font-weight: 200;
	position: relative;
	cursor: pointer;
	transition: all 0.2s;
}

.add-btn:hover,
.add-btn:focus {
	background: #DEDEDE;
}

.add-btn:active {
	transform: translate(1px,1px);
	background: #CEC;
}

.add-btn::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 1.5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #3C3C3C;
}

.add-btn::after {
	content: '';
	position: absolute;
	width: 1.5px;
	height: 15px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #3C3C3C;
}

/** ORDER **/

.order-notification {
	border-radius: 3px;
	background: #ECFDF5;
	color: #065F46;
	font-family: 'Smythe', system-ui;;
	font-size: 32px;
	font-weight: 400;
	text-align: center;
	padding: 0.25em;
	margin: 0 auto 20px;
}

.order {
/*	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;*/
	margin: 0 auto 20px;
	font-family: 'Smythe', system-ui;
	color: #000;
	background: #FFF;
}

.order-title {
	font-size: 28px;
	font-weight: 400;
	margin: 0 0 2em;
	text-align: center;
}

.order-items {
	list-style: none;
	padding: 0;
}

.order-item {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	margin: 0 0 0.5em;
}

.order-item-name {
	font-size: 28px;
	font-weight: 400;
	margin: 0;
}

.order-remove-btn {
	border: none;
	background: #fff0;
	color: #BBB;
	font-size: 12px;
	font-family: Verdana, sans-serif;
	cursor: pointer;
}

.order-remove-btn:hover,
.order-remove-btn:focus {
	color: #999;
}

.order-item-price {
	font-size: 20px;
	margin: 0 0 0 auto;
}

.order-total {
	margin: 1em 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/** FORM **/
.payment-modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	/*ACT AS A BLOCKING CONTAINER - NO MOUSECLICKS/ETC OUTSIDE OF MODAL*/
}

.payment-modal-inner {
	background: #FFF;
	border-radius: 4px;
	box-shadow: 5px 5px 255px rgba(0, 0, 0, 0.50);
	margin: auto;
	padding: 30px 25px;
}

.payment-form {
	width: 475px;
	display: flex;
	flex-direction: column;
}

.payment-title {
	text-align: center;
	margin: 0.5em 0 1.5em;
	font-size: 24px;
	font-weight: 700;
}

.payment-input {
	font-family: inherit;
	font-size: 20px;
	font-weight: 400;
	border: 1px solid #757575;
	border-radius: 4px;
	padding: 0.75em 1.25em;
	margin: 0.5em 0;
}

.payment-input::placeholder {
	color: #757575;
}

.hidden {
	display: none;
}